.btn-circle {
    width: 5% !important;
    height: 3% !important;
    padding: 30px 0px !important;
    border-radius: 80% !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.42857 !important;
    background-color: #bb86fc !important;
}