.btn-circle {
    width: 5% !important;
    height: 3% !important;
    padding: 20px 0px !important;
    border-radius: 50% !important;
    text-align: center !important;
    font-size: 12px !important;
    line-height: 1.42857 !important;
    background-color: rosybrown !important;
}